{% extends "tourist_attractions/base.html" %} {% load static %}

<head>
  {% block head %}
  <link rel="stylesheet" href="{% static 'tourist_attractions/style.css' %}" />
  {% endblock %}
</head>

<body>
  {% block content %}
  <h1>This is a list of attractions in America!</h1>
  <table>
        {% for item in attractions|dictsort:"state" %}
<tr>
    <th>Attraction</th>
      <td>{{ item.attraction_name }}</td>
    <th>State</th>
      <td>{{ item.state }}</td>
    <th>State details</th>
      <td><a href="{% url 'details' item.state|slugify %}">Link</a></td>
    </tr>
    {% endfor %}
    </table>
  <a href="{% url 'home' %}">Take me home</a>
  {% endblock %}
</body>